Repository HYF-Class22/agile-development-group4-hyf-redesign, pull requests merged in 2024-02, with the labels that each got.

#2 add backlog
  planning/backlog.md
Labels: documentation, planning

#5 add constraints
  package-lock.json
  planning/constraints.md
Labels: planning

#9 add-user-persona-volunteer
  .cspell.json
  planning/user-personas.md
Labels: planning

#11 add-backlog-must-have
  planning/backlog.md
Labels: planning

#13 add user persona
  planning/user-personas.md
Labels: planning

#18 add-design
  planning/Untitled-2024-02-13-2054.png
  planning/design.md
  planning/screenshot.jpg
Labels: planning

#24 add caption and footer
  .cspell.json
  index.html
  styles/something.css
Labels: HTML

#27 add navbar
  .cspell.json
  index.html
  styles/something.css
Labels: HTML, CSS

#34 add sign up
  .cspell.json
  index.html
  styles/something.css
Labels: HTML, CSS

#35 add development strategy
  planning/development-strategy.md
Labels: documentation, planning

#37 add-restrospective
  planning/retrospective.md
Labels: planning

#38 edit retrospective
  planning/retrospective.md
Labels: documentation, planning
